{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings in {{ category.name }}</h2>
    <img src="{{ category.image_url }}" alt="{{ category.image_url }}" class="image"/>
    <table>
        {% for listing in listings %}
            <tr>
                <td class="image-cell">
                    <a href="{% url 'listing' listing.id %}">
                        <img src="{{ listing.image_url }}" alt="{{ listing.image_url }}" class="thumbnail" />
                    </a>
                </td>
                <td>
                    <h3>{{ listing.title }}</h3>
                    <b>Price:</b> ${{ listing.price }}<br/>
                    {{ listing.description }}<br/>
                    <i>Created {{ listing.created }}</i><br/>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2">
                    <h3>No Listings.</h3>
                </td>
            </tr>            
        {% endfor %}
    </table>
    
{% endblock %}