{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Your Watchlist</h2>
    <table>
        {% for listing in listings %}
            <tr>
                <td class="image-cell">
                    <a href="{% url 'listing' listing.id %}">
                        <img src="{{ listing.image_url }}" alt="{{ listing.image_url }}" class="thumbnail" />
                    </a>
                </td>
                <td>
                    <h3>{{ listing.title }}</h3>
                    <b>Price:</b> ${{ listing.price }}<br/>
                    {{ listing.description }}<br/>
                    {% if not listing.active %}
                    <b><i>This listing is closed.</i></b><br/>
                    {% endif %}
                    <i>Created {{ listing.created }}</i><br/>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2">
                    <h3>No Listings in your Watchlist.</h3>
                </td>
            </tr>            
        {% endfor %}
    </table>

{% endblock %}